@inject Symplify.BackOffice.WebUI.Localization.IBackOfficeViewLocalizer L
@{
    string culture = ViewContext.RouteData.Values["culture"]?.ToString() ?? "tr-TR";
}
<aside class="sidebar">
    <button type="button" class="sidebar-close-btn"><i class="ri-close-line"></i></button>
    <div class="sidebar-logo px-24 py-16">
        <a href="/@culture/home/index" class="fw-bold text-primary-600">Symplify</a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu">
            <li>
                <a href="/@culture/topics/index"><i class="ri-price-tag-3-line"></i><span>@L["BackOffice.Sidebar.Topics"]</span></a>
            </li>
            <li>
                <a href="/@culture/titles/index"><i class="ri-user-star-line"></i><span>@L["BackOffice.Sidebar.Titles"]</span></a>
            </li>
            <li>
                <a href="/@culture/documenttypes/index"><i class="ri-file-list-line"></i><span>@L["BackOffice.Sidebar.DocumentTypes"]</span></a>
            </li>
            <li>
                <a href="/@culture/submissiontypes/index"><i class="ri-file-upload-line"></i><span>@L["BackOffice.Sidebar.SubmissionTypes"]</span></a>
            </li>
            <li>
                <a href="/@culture/eventrooms/index"><i class="ri-building-2-line"></i><span>@L["BackOffice.Sidebar.EventRooms"]</span></a>
            </li>
            <li>
                <a href="/@culture/evaluationcriteria/index"><i class="ri-checkbox-multiple-line"></i><span>@L["BackOffice.Sidebar.EvaluationCriteria"]</span></a>
            </li>

            <li class="sidebar-menu-group-title mt-24">@L["BackOffice.Sidebar.Workflow"]</li>
            <li>
                <a href="/@culture/transactionstatusphases/index"><i class="ri-stack-line"></i><span>@L["BackOffice.Sidebar.TransactionStatusPhases"]</span></a>
            </li>
            <li>
                <a href="/@culture/transactionstatuses/index"><i class="ri-exchange-2-line"></i><span>@L["BackOffice.Sidebar.TransactionStatuses"]</span></a>
            </li>
            <li>
                <a href="/@culture/transactionstatustransitions/index"><i class="ri-route-line"></i><span>@L["BackOffice.Sidebar.TransactionStatusTransitions"]</span></a>
            </li>
            <li>
                <a href="/@culture/workflowtemplates/index"><i class="ri-flow-chart"></i><span>@L["BackOffice.Sidebar.WorkflowTemplates"]</span></a>
            </li>
        </ul>
    </div>
</aside>
